@import '../base/variables.scss';

@import '../base/functions.scss';

@import '../base/mixins.scss';

.bg {
	background-color: color(primary);
	clip-path: polygon(100% 0, 100% 80%, 45% 100%, 0 100%, 0 0);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	
	@include desktop {
		clip-path: polygon(0 0, 75% 0, 55% 100%, 0 100%);
	}
}